#home {
    background: url(../images/banner/banner_1.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 720px;
    min-width: 100%;


}

header {
    background-color: #fff;
    padding: 5px;
    box-shadow: 5px 5px 8px #000;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
}

#home .container {
    background-color: transparent;
    padding: 10px;
    min-height: 60px;
}

#logo img {
    max-height: 55px;
    margin: 0px auto;
}

#menu {
    float: right;
}

#menu li {
    float: right;
    padding: 5px 8px 5px 8px;
}

#menu li a {
    font-size: 1.3em;
    color: #606060;
    text-decoration: none;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#menu .nav-link {

    padding: 10px;
    display: inline;
    text-decoration: none;
}

#content_home {
    margin-top: 10%;

}

#content_home img  {
    width: 90%;

}

#title {
    color: #fff;
    width: 100%;
    text-align: right;
    padding-right: 100px;
    text-shadow: 3px 3px 6px #000;
    padding-top: 50px;
}

#parrafo_1 {
    color: #fff;
    text-align: right;
    font-size: 22px;  
    font-weight: 700;
    padding-right: 100px;
    padding-top: 10px;
    text-shadow: 2px 2px 5px #000;
}

.circle {
    border-radius: 50%;
    width: 90%;
    margin: 0px auto;
    position: relative;
    margin-top: 40px;
}

.subtitulo {
    width:100%;
    text-align: center;
    margin: 150px 30px 50px 30px;
    font-weight: 500;
}

#menus .subtitulo {
    width: 100%;
    text-align: center;
    margin: 0px 0px 30px 0px;
    font-weight: 500;
    color: black
}



.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.hours {
    list-style-type: none;
}

#map {

    min-height: 250px;
    width: 100%;

}

#drinks {
    width: 50%;
    height: auto;
    border-radius: 50px;

}

#food {
    width: 70%;
    height: auto;
    border-radius: 50px;
    ;

}

#hand-logo {

    width: 50%;
    height: auto;
    border-radius: 50%;
}

#menus .btn-circle{
   background-color: #fff;
   border:1px solid #fff; 
   color: #000;
   margin-top: -100px;
}

#contact-info {

    margin-top: 20px;
}

#events {
    margin-top: 20px;
}

#social-networks {
    background-color: black;   
    background-size: 100%;     
    text-align: center;
    padding: 20px 0;
    display: flex;
     justify-content: space-evenly;
    list-style-type: none;
        }
    
#social-networks i {
            font-size: 160%;
            padding: 5%;
            color: #fff;
        }


